body {
  background-color: #2980B9;
}

.nav a {
  color: white;
  margin-top: 40px;
}

.nav a:hover {
  color: black;
}

#dan-logo img {
  height: 70px;
  margin-left: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2980B9;
}

.jumbotron {
  background-color: #19458c;
}

.jumbotron h2, p {
  color: white;
}


// portfolio custom styles

#port-title {
  color: white;
  text-align: center;
  font-size: 3em;
}

.port-desc {
  color: black;
}

//about custom styles

.skill-list li {
  color: white;
  list-style: square inside;
}

.dan-pic img {
  height: 300px;
}

.about-back-box {
  background-color: white;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.about-back-box h2 {
  text-decoration: underline;
}

.about-back-box p {
  color: black;
}

.about-back-box li {
  color: black;
  font-size: 1.5em;
}

.dan-pic img {
  margin-left: 20px;
}

#map {
  height: 60%;
}

.map-style h1 {
  color: white;
  margin-bottom: 20px;
}

.contact-back {
  background-color: white;
  border-radius: 10px;
  margin: 30px 20px 0px 20px;
}

.contact-back a p {
  color: blue;
  font-size: 1.5em;
}

#email {
  color: black;
  font-size: 1.5em;
}


