<div class="row">
  <div class="col-md-3 header-line">
    <div id="dan-logo">
      <a href="index.html"><img src="images/dan.png"></a>    
    </div>
  </div>
    <div class="col-md-9">
      <ul class="nav nav-pills pull-right">
        <li>
          <a href="about.html">ABOUT</a>
        </li>
        <li>
          <a href="portfolio.html">PORTFOLIO</a>
        </li>
        <li>
          <a href="contact.html">CONTACT</a>
        </li>
        <li>
          <a href="http://localhost:3000">BLOG</a>
        </li>
      </ul>
    </div>
</div>

