<div class="row">
	<div class="col-md-4 dan-pic">
		<img src="images/dan-real.png">
	</div>
	<div class="col-md-7 about-back-box">
		<div id="inner-box-about">
			<h2>What I like</h2>
			<p>I love coding and building apps but when I'm not doing that I find myself doing an array of different things. Outdoors I like to go hunting, camping, and hiking. Indoors I love playing games and watching shows. I firmly declare myself a nerd and I always am ready for fun.</p>
			<br>
			<h2>Experience</h2>
			<p>I began My coding journey in 2016 at a coding bootcamp called Bottega tech. Upon finishing the course I decided to continue learning by staying on as a student teacher helping others learn the basic principles of development. They decided to promote me to fulltime instructor leading full classes for the first 6 weeks of their bootcamp. 
			<br>
			<br>
			Realizing that I needed some real world experience to get a good code job one day. My wife and I started a small business called Kuma-Ko Designs. We did websites and apps for small businesses accross the southwest. We had a small team and enjoyed the work for awhile.
			<br>
			<br>
			Even though I loved teaching and freelance work I wanted to work fulltime with a company. I was hired on as an apprentice at Acima Credit. They gave me an opprotunity to work on the portal and and to level up my abilities.</p>
			<br>
			<h2>Skills and Languages</h2>
			<ul class="skill-list">
				<li>Ruby</li>
				<li>Rails</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>SQL</li>
				<li>TypeScript</li>
			</ul>
		</div>
	</div>
</div>