<div class="row">
	<div class="col-md-5 contact-back">
		<h2>Email:</h2>
		<p id="email">dmcoley948562@gmail.com</p>
		<h2>Github:</h2>
		<a href="https://github.com/DanielmColey" target="_blank"><p>Daniel Coley Github</p></a>
		<h2>LinkedIn:</h2>
		<a href="https://www.linkedin.com/in/daniel-coley/" target="_blank"><p>Daniel Coley LinkedIn</p></a>
	</div>
	<div class="col-md-6 map-style">
		<h1>Map</h1>
		<div id="map">
			<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
		</div>
	</div>
</div>