<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>
        Hello, my name is Dan!
      </h2>
      <p>
        I am a Software developer and I currently work at Acima Credit in Sandy Utah. When I'm not working I love to build things and work on new projects. I have a beautiful wife Sara who is a Grapic Designer for a company in Salt Lake, and an artist. Our hobbies are to go to art shows and conventions to sell art. We have a daughter Juniper and one on the way. 
        <br>
        <br>
        I got into coding because I love to see a blank space and turn it into a kingdom. I think that developers hold one of the most powerful abilities; they get to shape the world. I started my coding journey at a coding bootcamp in 2016 then student taught there for almost a year. Wanting more experience on real projects, my wife and I started a business called Kuma-Ko building websites for small businesses. Moving on from there we both entered the work force.
        <br>
        <br>
        Please feel free to look through my site and message me if you have any questions. 
      </p>
      <p>
        <a class="btn btn-primary btn-large" href="portfolio.html">View Portfolio</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">

  </div>
</div>








