<h1 id="port-title">Portfolio</h1>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="images/able.png" />
          <div class="caption">
            <h3>
              Able ISD
            </h3>
            <p class="port-desc">
              Able ISD was a company which take people who have ideas for an online course they want to teach and give them the tools to create it and get students. 
            </p>
            <p>
              <a class="btn btn-primary" href="https://github.com/stephanigon/Able-isd">See Code</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="images/hydro.png" />
          <div class="caption">
            <h3>
              Citywide Hydroseeding
            </h3>
            <p class="port-desc">
              A local utah hydroseeding who hired me to make a website for them with an image uploader.
            </p>
            <p>
              <a class="btn btn-primary" href="https://github.com/DanielmColey/Hydroseeding">See Code</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="images/kuma.png">
          <div class="caption">
            <h3>
              Kuma-Ko Designs
            </h3>
            <p class="port-desc">
              My freelance site
            </p>
            <p>
              <a class="btn btn-primary" href="http://kuma-ko.com/">View Site</a> <a class="btn" href="https://github.com/stephanigon/Kuma-KoDesigns">See Code</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="images/big.png" />
          <div class="caption">
            <h3>
              Big Mouth Frog
            </h3>
            <p class="port-desc">
              This is a static site for an online company that teaches people to make online classes. 
            </p>
            <p>
              <a class="btn btn-primary" href="#">View Site</a> <a class="btn" href="#">See Code</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="images/over.png" />
          <div class="caption">
            <h3>
              Overtime
            </h3>
            <p class="port-desc">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              <a class="btn btn-primary" href="https://dashboard.heroku.com/apps/way-overtime">View Site</a> <a class="btn" href="https://github.com/DanielmColey/overtime-app">See Code</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="images/lotr.png">
          <div class="caption">
            <h3>
              Lord of the Rails
            </h3>
            <p class="port-desc">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              <a class="btn btn-primary" href="https://thelordoftherails.herokuapp.com/">View Site</a> <a class="btn" href="https://github.com/DanielmColey/TheLordoftheRails">See Code</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="images/cookie.png" />
          <div class="caption">
            <h3>
              Cookie Wednesday
            </h3>
            <p class="port-desc">
              This is a static site for an online company that teaches people to make online classes. 
            </p>
            <p>
              <a class="btn btn-primary" href="http://cookiewednesday.com/">View Site</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>